# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# TypeScript build artifacts / info
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Env
.env
.env.*
!.env.example
